:root {
  /* Fonts */
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  /* Text colors */
  --primary-text-color: #FCFCFC;
  --secondary-text-color: #131313;
  /* Bg colors */
  --accent-color: #f8d24e;
  --button-hover: #0a8817;
  --bg-color: #5bb676;
  --bg-green-color: #84A178;
  --letter-spacing: 0.04em;
  --line-height-auto: 1.2;
  --text-line-height: 1.76;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

address {
  font-style: normal;
}

input,
label:not([type=checkbox]) {
  display: block;
}

body {
  background-color: var(--bg-green-color);
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-auto);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

.btn {
  border-radius: 10px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: var(--line-height-auto);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 34px;
  min-width: 114px;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 14px;
    line-height: 1.3;
    min-width: 216px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    min-width: 216px;
  }
}

.btn:hover {
  background-color: var(--button-hover);
}

.btn:focus {
  background-color: var(--button-hover);
  color: var(--primary-text-color);
}

.btn-secondary {
  border-color: var(--accent-color);
  border-style: solid;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-secondary:hover {
  border-color: var(--button-hover);
}

.btn-secondary:focus {
  border-color: var(--button-hover);
  color: var(--primary-text-color);
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 30px;
  }
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    letter-spacing: 0.06em;
  }
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.test {
  outline: 1px solid tomato;
}

.contacts__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 32px;
    margin-bottom: 60px;
  }
}
.contacts__item {
  width: 100%;
  max-width: 280px;
  padding-top: 40px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
  font-weight: 500;
  line-height: 1.86;
  background-color: var(--primary-text-color);
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
@media screen and (min-width: 480px) {
  .contacts__item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    flex-basis: calc((100% - 32px) / 3);
    padding-bottom: 32px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    flex-basis: calc((100% - 64px) / 3);
    padding-right: 40px;
    padding-left: 40px;
  }
}
.contacts__title {
  margin-bottom: 20px;
  display: inline-block;
  padding-left: 23px;
  padding-right: 23px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 16px;
    margin-bottom: 32px;
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__title {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.contacts__location {
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__location {
    padding-bottom: 32px;
  }
}
.contacts__city {
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__city {
    margin-bottom: 12px;
  }
}
.contacts__address {
  max-width: 212px;
  color: #d6936d;
}
@media screen and (min-width: 768px) {
  .contacts__address {
    max-width: 173px;
    min-height: 71px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address {
    max-width: 288px;
  }
}
.contacts__working-time {
  margin-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__working-time {
    margin-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__week {
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}
.contacts__hours {
  color: #ababab;
  margin-bottom: 8px;
}
.contacts__weekend-hours {
  color: #ababab;
}
.contacts__weekend-days {
  color: var(--secondary-text-color);
}
.contacts__location, .contacts__working-time {
  border-bottom: 1px solid #e1e1e1;
}
.contacts__btn {
  min-width: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__icon {
  margin-left: 7px;
}
.contacts__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__buttons {
    flex-direction: row;
  }
}

.contact-list {
  margin-top: 24px;
  color: var(--secondary-text-color);
}

.footer__container {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    margin-top: 120px;
  }
}
.footer__top {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .footer__top {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__top {
    padding-bottom: 60px;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.footer__text-start {
  max-width: 232px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .footer__text-start {
    max-width: 352px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-start {
    font-weight: 400;
    font-size: 30px;
  }
}
.footer__text-end {
  max-width: 200px;
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .footer__text-end {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-end {
    font-size: 58px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.footer__rights {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #7A7A7A;
}
@media screen and (min-width: 768px) {
  .footer__rights {
    width: 298px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__rights {
    font-size: 12px;
  }
}

.soc-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .soc-footer {
    gap: 32px;
    justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .soc-footer {
    gap: 40px;
    justify-content: end;
    align-items: flex-end;
  }
}
.soc-footer__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .soc-footer__list {
    gap: 30px;
  }
}
.soc-footer__item {
  width: 34px;
  height: 34px;
}
.soc-footer__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--bg-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-footer__link:hover, .soc-footer__link:focus {
  color: var(--primary-text-color);
}
.soc-footer__icon {
  fill: currentColor;
}
.soc-footer__tell {
  font-weight: 700;
  color: var(--secondary-text-color);
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .soc-footer__tell {
    font-size: 14px;
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .soc-footer__tell {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.soc-footer__call {
  margin-left: 3px;
  color: var(--primary-text-color);
}