body {
  background-color: var(--bg-green-color);
  color: var(--primary-text-color);

  cursor: url(../images/cursor.svg);

  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-auto);

  cursor: url(./images/cursor.svg), auto;

  @include tab {
    font-size: 14px;
  }
  @include pc{
    font-size: 16px;
  }


}
  
