.modal-input {
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  color: var(--secondary-text-color);
  outline: unset;
  padding: 11px;

  transition: border 250ms;

  &:focus {
    border: 1px solid var(--secondary-text-color);
  }
}

.modal-item:not(:last-child) {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  outline: transparent;
  padding: 11px;
  resize: none;
  display: block;
}

.modal-comment::placeholder,
.modal-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--secondary-text-color);
}

.modal-comment:focus {
  cursor: pointer;
}
