.modal-form {
  margin: auto;
  max-width: 368px;
}

.modal-list {
  margin-bottom: 24px;

  @include pc {
    margin-bottom: 32px;
  }
}

.modal-button {
  min-width: 132px;
  height: 42px;

  background-color: var(--accent-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  border-style: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin: auto;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
