:root {
  /* Fonts */
  --secondary-font: 'Seymour One', sans-serif;

  /* Text colors */
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;

  /* Bg colors */
  --accent-color: #f8d24e;
  --button-hover: #0a8817;

  --bg-color: #5bb676;
  --bg-green-color: #84a178;

  --letter-spacing: 0.04em;
  // ! Mostly used in title of block - (identical to box height in Figma);
  --line-height-auto: 1.2;
  // ! is for all paragraphs of text - 176%;
  --text-line-height: 1.76;
}
