:root {
  --main-color: #131313;
  --second-color: #fcfcfc;
  --icon-color: ;
  --accent-color: ;
  --button-hover: ;

  --bg-color: #5bb676;

  --letter-spacing: 0.03em;
  --line-height-auto: 1.17;

  // --big-letter-spacing: 0.06em;
  // --inverse-color: ;
}
