<section class="about">
  <div class="container">
    <p class="about__label">Tradition and love</p>
    <h2 class="about__title">How it’s made?</h2>
    <div class="about__cow">
      <picture class="about__image">
        <source
          srcset="
            ./images/about/desktop/cowdescx1-min.png 1x,
            ./images/about/desktop/cowdescx2-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/about/tablet/cowtabx1-min.png 1x,
            ./images/about/tablet/cowtabx2-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/mobile/cowmobx1-min.png 1x,
            ./images/about/mobile/cowmobx2-min.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/about/desktop/cowdescx1-min.png"
          alt="A cow grazes in the field"
          width="500"
          height="529"
          loading="lazy"
        />
      </picture>
      <div class="about__description">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts. Ice is a place where you will become
          not only a little happier, but also healthier. Health is the main
          value for us, and we follow it when creating our handmade desserts.
        </p>
        <p class="about__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <button class="btn" type="button">
          Read more<svg class="btn__icon" width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
