<section class="section adv">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="adv__list">
      <li class="adv__card">
        <svg class="adv__icon" width="50" height="50">
          <use href="./images/symbol-defs.svg#icon-icon-cow-desc"></use>
        </svg>
        <p class="adv__number">721</p>
        <p class="adv__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <svg class="adv__icon" width="50" height="50">
          <use href="./images/symbol-defs.svg#icon-icon-weight-desc"></use>
        </svg>
        <p class="adv__number">16kg</p>
        <p class="adv__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <svg class="adv__icon" width="50" height="50">
          <use href="./images/symbol-defs.svg#icon-icon-ice-cream-desc"></use>
        </svg>
        <p class="adv__number">84</p>
        <p class="adv__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
