<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <address class="contacts__location">
          <p class="contacts__city">Chicago</p>
          <p class="contacts__address">
            10340 Ridgeland Ave,<br />
            Chicago Ridge, IL 60415, USA
          </p>
        </address>
        <div class="contacts__working-time">
          <div class="contacts__week">
            <p class="contacts__week-days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekend">
            <p class="contacts__weekend-days">Saturday - Sunday</p>
            <p class="contacts__weekend-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <ul class="contacts__contact-list contact-list">
          <li class="contact-list__item">
            <a href="tel:+610383766284" class="contact-list__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-list__item">
            <a href="mailto:noreply@envato.com" class="contact-list__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__title">FOODTRUCK</p>
        <address class="contacts__location">
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__address">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </address>
        <div class="contacts__working-time">
          <div class="contacts__week">
            <p class="contacts__week-days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekend">
            <p class="contacts__weekend-days">Saturday - Sunday</p>
            <p class="contacts__weekend-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <ul class="contacts__contact-list contact-list">
          <li class="contact-list__item">
            <a href="tel:+610383766284" class="contact-list__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-list__item">
            <a href="mailto:noreply@envato.com" class="contact-list__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <address class="contacts__location">
          <p class="contacts__city">New York</p>
          <p class="contacts__address">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </p>
        </address>
        <div class="contacts__working-time">
          <div class="contacts__week">
            <p class="contacts__week-days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekend">
            <p class="contacts__weekend-days">Saturday - Sunday</p>
            <p class="contacts__weekend-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <ul class="contacts__contact-list contact-list">
          <li class="contact-list__item">
            <a href="tel:+610383766284" class="contact-list__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contact-list__item">
            <a href="mailto:noreply@envato.com" class="contact-list__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button type="button" class="contacts__btn btn" data-modal-open>
        Our Locations
        <svg width="12" height="12" class="btn__icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button type="button" class="contacts__btn btn btn-secondary">
        Franchise
        <svg width="12" height="12" class="btn__icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
