<section class="customer-review">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="customer-review__swiper">
      <ul class="customer__list swiper-wrapper">
        <li class="customer__item swiper-slide">
          <picture class="customer__photo">
            <source
              srcset="
                ./images/customer-review/desktop/emilydeskx1-min.png 1x,
                ./images/customer-review/desktop/emilydeskx1-min.png 2x
              "
            />
            <img
              src="./images/customer-review/desktop/emilydeskx1-min.png"
              width="85"
              height="85"
              alt="customer photo"
            />
          </picture>
          <div class="customer-review__content-wrap">
            <p class="customer-review__content">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <p class="customer-review__name">Emily, Los Angeles</p>
        </li>
        <li class="customer__item swiper-slide">
          <picture class="customer__photo">
            <source
              srcset="
                ./images/customer-review/desktop/bryandescx1-min.png 1x,
                ./images/customer-review/desktop/bryandescx2-min.png 2x
              "
            />
            <img
              src="./images/customer-review/desktop/bryandescx1-min.png"
              width="85"
              height="85"
              alt="customer photo"
            />
          </picture>
          <div class="customer-review__content-wrap">
            <p class="customer-review__content">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <p class="customer-review__name">Bryan, New-York</p>
        </li>
        <li class="customer__item swiper-slide">
          <picture class="customer__photo">
            <source
              srcset="
                ./images/customer-review/desktop/dianadescx1-min.png 1x,
                ./images/customer-review/desktop/dianadescx2-min.png 2x
              "
            />
            <img
              src="./images/customer-review/desktop/dianadescx1-min.png"
              width="85"
              height="85"
              alt="customer photo"
            />
          </picture>
          <div class="customer-review__content-wrap">
            <p class="customer-review__content">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <p class="customer-review__name">Diana, Chicago</p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
