<section class="customer-review">
  <div class="container">
    <div class="card">
      <picture class="customer-review__photo">
        <source
          srcset="
            ./images/customer-review/desktop/emilydeskx1-min.png 1x,
            ./images/customer-review/desktop/emilydeskx1-min.png 2x
          "
        />
        <img
          src="./images/customer-review/desktop/emilydeskx1-min.png"
          alt="customer photo"
        />
      </picture>
      <div class="customer-review__content-wrapper">
        <p class="customer-review__content">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
      <p class="customer-review__name">Emily, Los Angeles</p>
    </div>
  </div>
</section>
