<section>
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ../images/gallery/desktop/gallerydescx1-min.jpg 1x,
              ../images/gallery/desktop/gallerydescx2-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ../images/gallery/tablet/gallerytabx1-min.jpg 1x,
              ../images/gallery/tablet/gallerytabx2-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ../images/gallery/mobile/gallerymobx1-min.jpg 1x,
              ../images/gallery/mobile/gallerymobx1-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery__slide"
            src="../images/gallery/desktop/gallerydescx1-min.jpg"
            alt="icecream"
            width="1013"
            height="422"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ../images/gallery/desktop/gallerydescx1-min.jpg 1x,
              ../images/gallery/desktop/gallerydescx2-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ../images/gallery/tablet/gallerytabx1-min.jpg 1x,
              ../images/gallery/tablet/gallerytabx2-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ../images/gallery/mobile/gallerymobx1-min.jpg 1x,
              ../images/gallery/mobile/gallerymobx1-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery__slide"
            src="../images/gallery/desktop/gallerydescx1-min.jpg"
            alt="icecream"
            width="1013"
            height="422"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ../images/gallery/desktop/gallerydescx1-min.jpg 1x,
              ../images/gallery/desktop/gallerydescx2-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ../images/gallery/tablet/gallerytabx1-min.jpg 1x,
              ../images/gallery/tablet/gallerytabx2-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ../images/gallery/mobile/gallerymobx1-min.jpg 1x,
              ../images/gallery/mobile/gallerymobx1-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img
            class="gallery__slide"
            src="../images/gallery/desktop/gallerydescx1-min.jpg"
            alt="icecream"
            width="1013"
            height="422"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
