<header class="header section">
  <div class="container header__container">
    <a class="logo" href="#">
      <svg class="logo__icon" width="40" height="37">
        <use href="./images/symbol-defs.svg#icon-logo-ice-cream"></use>
      </svg>
    </a>
    <nav>
      <ul class="navigation">
        <li class="navigation__item">
          <a class="navigation__link navigation__link--current" href="#"
            >Home</a
          >
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle__button-icon" width="32" height="32">
        <use href="./images/symbol-defs.svg#icon-mob-menu"></use>
      </svg>
    </button>
    <div class="mobile__menu-container js-menu-container" id="mobile-menu">
      <a class="mobile-menu__logo" href="#"
        ><svg class="header__logo-icon" width="100" height="100">
          <use href="./images/symbol-defs.svg#icon-icon-ice-cream-desc"></use>
        </svg>
      </a>
      <button class="menu-toggle js-close-menu">
        <svg class="mobile__menu-close-btn" width="19" height="19">
          <use href="./images/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="mobile__menu">
        <li><a href="#" class="mobile_menu-link">Home</a></li>
        <li><a href="#" class="mobile_menu-link">How it’s made?</a></li>
        <li><a href="#" class="mobile_menu-link">Our products</a></li>
        <li><a href="#" class="mobile_menu-link">Contact</a></li>
      </ul>

      <button class="mobile_menu-button btn" type="button">
        Buy now
        <svg class="mob-menu-button__icon" width="12" height="12">
          <use href="#"></use>
        </svg>
      </button>
    </div>
    <!-- fix Add a modal window here 👇 -->
    <button class="btn header__btn" type="button" data-modal-open="">
      Buy now
      <svg width="12" height="12" class="btn__icon">
        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</header>
