<div class="mobile mobile__menu is-hidden" data-mob-menu>
  <button type="button" class="menu-toggle" data-close-mob-menu>
    <svg width="19" height="19" class="mobile__menu-close-btn">
      <use href="./images/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <!--
      <button class="menu-toggle" data-close-menu>
        <svg class="mobile__menu-close-btn" width="19" height="19">
          <use href="./images/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>-->
    <a class="mobile-menu__logo" href="#"><svg class="header__logo-icon" width="100" height="100">
        <use href="./images/symbol-defs.svg#icon-icon-ice-cream-desc"></use>
      </svg>
    </a>
  <div class="mobile__menu-container">  
    <ul class="mobile__menu">
      <li><a href="#" class="mobile__menu-link">Home</a></li>
      <li><a href="#" class="mobile__menu-link">How it’s made?</a></li>
      <li><a href="#" class="mobile__menu-link">Our products</a></li>
      <li><a href="#" class="mobile__menu-link">Contact</a></li>
    </ul>

    <button class="mobile__menu-button btn" type="button">
      Buy now
      <svg class="mob-menu-button__icon" width="12" height="12">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</div>
