<div class="backdrop is-hidden" data-backdrop-read-more>
    <div class="modal read-more">
        <button class="modal-close" data-close-modal-read-more>
            <svg class="close-button" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-close-btn"></use>
            </svg>
        </button>
        <h2 class="modal__title read-more__title">How it’s made?</h2>
        <video src="#" class="read-more__video">
            <iframe width="224" height="199" src="https://www.youtube.com/embed/j4W_5NbtvtQ" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </video>
        <p class="read-more__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</div>