<div class="data-modal visually-hidden" data-modal>
    <div class="loc-modal">
        <button type="button" class="loc-modal__btn" data-modal-close>
            <svg class="loc-modal__close" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-close-btn"></use>
            </svg>
        </button>
        <p class="loc-modal__title">Our Locations</p>
        <a href="https://goo.gl/maps/wA8vdSyazQgjNPgk7" class="loc-modal__link-map">
            <img class="loc-modal__img-map" alt="map" width="448" height="260"></img>
            <p class="btn loc-modal__button">Open map</p>
        </a>
    </div>
</div>
<!--
<div class="backdrop visually-hidden" data-modal>
    <div class="fran-modal">
        <button type="button" class="fran-modal__btn" data-close-modal>
            <svg class="fran-modal__close" width="13.33" height="13.37">
                <use href="./images/symbol-defs.svg#icon-icon-git"></use>
            </svg>
        </button>
        <p class="fran-modal__title">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="fran-modal__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once
        the application process resumes, we will contact you for further information. Please fill out the contact information
        below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="fran-modal__form">            
            <div class="fran-modal__field">
                <label for="user-name" class="modal-label">Name</label>
                <input id="user-name" type="text" class="modal-input" name="user-name" />
            </div>
            <div class="fran-modal__field">
                <label for="user-tel" class="modal-label">Phone</label>
                <input id="user-tel" type="tel" class="modal-input" name="user-tel" />
            </div>
            <div class="fran-modal__field">
                <label for="user-mail" class="modal-label">Email</label>                
                <input id="user-mail" type="email" class="modal-input" name="user-mail" />                
            </div>
            <div class="fran-modal__field">
                <label for="user-comment" class="modal-label">Comment</label>
                <input id="user-comment" type="text" class="modal-input" name="user-comment" />
            </div>
        </form>
        <button type="submit" class="fran-modal__btn btn"></button>
    </div>
</div>