<div class="data-modal visually-hidden" data-modal>
  <div class="loc-modal">
    <button type="button" class="loc-modal__btn" data-modal-close>
      <svg class="loc-modal__close" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
    <p class="loc-modal__title">Our Locations</p>
    <a href="https://goo.gl/maps/wA8vdSyazQgjNPgk7" class="loc-modal__link-map">
      <iframe
        class="loc-modal__img-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.890241982819!2d34.55188739999999!3d49.580959299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f5d9ecf6359%3A0xef5937df706dd61c!2z0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdC90LAg0LrQu2nQvWnRh9C90LAg0LvRltC60LDRgNC90Y8g0ZbQvC4g0Jwu0JIuINCh0LrQu2nRhNC-0YHQvtCy0YHRjNC60L7Qs9C-!5e0!3m2!1sru!2sua!4v1669459320729!5m2!1sru!2sua"
        width="448"
        height="260"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      <p class="btn loc-modal__button">Open map</p>
    </a>
  </div>
</div>

<div class="data-modal visually-hidden" data-modal-franc>
  <div class="loc-modal franc-modal">
    <button type="button" class="loc-modal__btn" data-modal-franc-close>
      <svg class="loc-modal__close" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
    <p class="loc-modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="fran-modal__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="fran-modal__form">
      <div class="fran-modal__field">
        <label for="user-name" class="modal-label">Name</label>
        <input
          id="user-name"
          type="text"
          class="modal-input"
          name="user-name"
        />
      </div>
      <div class="fran-modal__field">
        <label for="user-tel" class="modal-label">Phone</label>
        <input id="user-tel" type="tel" class="modal-input" name="user-tel" />
      </div>
      <div class="fran-modal__field">
        <label for="user-mail" class="modal-label">Email</label>
        <input
          id="user-mail"
          type="email"
          class="modal-input"
          name="user-mail"
        />
      </div>
      <div class="fran-modal__field">
        <label for="user-comment" class="modal-label">Comment</label>
        <input
          id="user-comment"
          type="text"
          class="modal-input"
          name="user-comment"
        />
      </div>
    </form>
    <button type="submit" class="fran-modal__btn btn"></button>
  </div>
</div>
