<section class="section">
  <p class="section-pretitle">100% natural</p>
  <h2 class="section-title">products</h2>
  <ul class="product-list list">
    <li class="product-item">
      <img
        srcset="
          ./images/products/mobile/productsmobpic1x1-min.png   450w,
          ./images/products/mobile/productsmobpic1x2-min.png   900w,
          ./images/products/tablet/productstabpic1x1-min.png   354w,
          ./images/products/tablet/productstabpic1x2-min.png   708w,
          ./images/products/desktop/productsdescpic1x1-min.png 270w,
          ./images/products/desktop/productsdescpic1x2-min.png 540w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
        class="product-picture"
        src="./images/products/mobile/productsmobpic1x1-min.png"
        alt="Ice cream"
        width="450"
      />
      <h3 class="product-title">ice cream</h3>
      <p class="product-description">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
    </li>
    <li class="product-item">
      <img
        srcset="
          ./images/products/mobile/productsmobpic2x1-min.png   450w,
          ./images/products/mobile/productsmobpic2x2-min.png   900w,
          ./images/products/tablet/productstabpic2x1-min.png   354w,
          ./images/products/tablet/productstabpic2x2-min.png   708w,
          ./images/products/desktop/productsdescpic2x1-min.png 270w,
          ./images/products/desktop/productsdescpic2x2-min.png 540w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
        class="product-picture"
        src="./images/products/mobile/productsmobpic2x1-min.png"
        alt="Ice coffee"
        width="450"
      />
      <h3 class="product-title">ice coffee</h3>
      <p class="product-description">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
    </li>
    <li class="product-item">
      <img
        srcset="
          ./images/products/mobile/productsmobpic3x1-min.png   450w,
          ./images/products/mobile/productsmobpic3x2-min.png   900w,
          ./images/products/tablet/productstabpic3x1-min.png   354w,
          ./images/products/tablet/productstabpic3x2-min.png   708w,
          ./images/products/desktop/productsdescpic3x1-min.png 270w,
          ./images/products/desktop/productsdescpic3x2-min.png 540w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
        class="product-picture"
        src="./images/products/mobile/productsmobpic3x1-min.png"
        alt="Milkshakes"
        width="450"
      />
      <h3 class="product-title">milkshakes</h3>
      <p class="product-description">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
    </li>
  </ul>
</section>
