.container {
    margin: 0 auto;
    padding: 42px 45px 64px 45px;
    

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 auto;
    padding: 53px 76px 205px 76px;
    }

    @media screen and (min-width: 1200px) {
    margin: 0 auto;
    padding: 152px 16px 180px 16px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv {

&__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    }
    @media screen and (min-width: 1200px) {
    gap: 32px;
}}

&__card {
text-align: center;
font-weight: 700;
}

&__card:first-child {
    margin-bottom: 28px;
}
&__card:nth-child(2) {
    margin-bottom: 22px;
}

&__wrap {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--secondary-text-color);
    display: flex;
    margin: 0 auto;
    
}

&__number {
    font-family: 'Montserrat';
    font-size: 36px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 16px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.23;
        margin-bottom: 16px;
        margin-top: 32px;
        }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        margin-top: 40px;
        }}

&__text {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 1.70;
    

}
}