.header {
  background-color: var(--bg-color);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header__main-nav {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--accent-color);
  width: 48px;
  height: 44px;
  margin-top: 12px;

  @media screen and (min-width: 768px) {
    margin-right: 440px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
    width: 60px;
    height: 65px;
  }
}

.header__navigation {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    margin: 40px 247px 20px 269px;
  }
}

.header__navigation-item-link {
  color: var(--primary-text-color);
  font-weight: 700;
  line-height: 1.25;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: #f8d24e;
  }

  &--current {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.25;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: #f8d24e;
    }
  }
}

.header__button {
  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 32px;
    margin-top: 24px;
    width: 152px;
    height: 42px;
    color: var(--secondary-text-color);
    background-color: #f8d24e;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
    vertical-align: middle;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.menu-toggle__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;

  @media screen and (min-width: 768px) {
    margin-top: 29px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: #f8d24e;
  }
}
