.loc-modal {
  @include flex();
  flex-direction: column;
  min-height: 365px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  @include tab {
    min-height: 458px;
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;

    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.5;

    color: var(--secondary-text-color);
    @include tab {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  &__link-map {
    @include flex();
    flex-direction: column;
  }
  &__img-map {
    margin-bottom: 24px;
    width: 100%;
    height: 199px;
    @include tab {
      margin-bottom: 32px;
      width: 448px;
      height: 260px;
    }
  }
  &__button {
    font-size: 12px;
    @include tab {
      font-size: 14px;
    }
  }
}

// Franchise
.franc-modal {
  @include flex();
  flex-direction: column;
  max-width: 280px;
  min-height: 674px;

  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(1);

  @include tab {
    width: 448px;
    height: 604px;
  }

  &__title {
    margin-bottom: 20px;
    width: 221px;
    text-align: center;
    letter-spacing: normal;

    @include tab {
      margin-bottom: 24px;
      width: 322px;
      text-align: center;
    }
  }
  &__text {
    margin-bottom: 24px;
    width: 222px;
    text-align: justify;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--secondary-text-color);
    letter-spacing: normal;

    @include tab {
      margin-bottom: 32px;
      width: 448px;
      font-size: 16px;
    }
  }
  &__form {
    margin: 0;
    @include tab {
      width: 368px;
    }
  }
  &__input {
    width: 100%;
    height: 32px;
    @include tab {
      height: 42px;
    }
  }
  &__comment {
    width: 100%;
    height: 64px;
    @include tab {
      height: 84px;
    }
  }
  &__btn {
    height: 42px;
  }
}
