.loc-modal {
  max-width: 280px;  
  min-height: 365px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tab {
    min-width: 568px;
    min-height: 458px;
  }
  &__title {
    font-family: 'Seymour One', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    @include tab {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  &__link-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img-map{
    margin-bottom: 24px;
    width: 224px;
    height: 199px;
    @include tab{
      margin-bottom: 32px;
      width: 448px;
      height: 260px;
    }
  }
  &__button{
    font-size: 12px;
    @include tab{
      font-size: 14px;
    }
  }
}
.franc-modal {
  height: 674px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tab {
    height: 668px;
  }
  &__title {
    width: 221px;
    text-align: justify;
    letter-spacing: normal;
    margin-bottom: 24px;
    font-size: 14px;
    @include tab {
      width: 322px;
      text-align: center;
      font-size: 16px;
    }
  }
  &__text {
    width: 222px;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--secondary-text-color);
    text-align: justify;
    letter-spacing: normal;

    @include tab {
      width: 448px;
      font-size: 16px;
    }
  }
  &__input{
    height: 32px;
    @include tab{
      height: 42px;
    }
  }
  &__comment{
    height: 64px;
    @include tab{
      height: 84px;
    }
  }
}