.product__section {
  height: 1936px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(../images/products/mobile/fonproductsx1-min.jpg);

  @include retina {
    background-image: url(../images/products/mobile/fonproductsx2-min.jpg);
  }

  @include tab {
    height: 830px;
    background-image: url(../images/products/tablet/fon1tabx1-min.jpg);

    @include retina {
      background-image: url(../images/products/tablet/fon1tabx2-min.jpg);
    }
  }

  @include pc {
    height: 1053px;
    background-image: url(../images/products/desktop/fon1descx1-min.jpg);

    @include retina {
      background-image: url(../images/products/desktop/fon1descx2-min.jpg);
    }
  }

  @media screen and(min-width: 1920px) {
    background-image: url(../images/gallery/big-desctop/fon1920block4x1-min.jpg);

    @include retina {
      @include retina {
        background-image: url(../images/gallery/big-desctop/fon1920block4x2-min.jpg);
      }
    }
  }
}

.section__pretitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @include tab {
    font-size: 22px;
  }

  @include pc {
    font-size: 30px;
    line-height: 1.23;
  }
}

.section__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  margin-bottom: 148px;

  @include tab {
    font-size: 34px;
    margin-bottom: 200px;
  }

  @include pc {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.product__list {
  justify-content: center;
  @include grid(168px);

  @include tab {
    @include grid(16px);
  }

  @include pc {
    @include grid(29px);
  }
}

.product__item {
  display: block;
  position: relative;
  max-width: 440px;

  border-radius: 24px;
  transform: scale(1);
  @include transition-double(transform, box-shadow);

  @include tab {
    border-radius: 15px;
    width: 224px;
  }

  @include pc {
    border-radius: 24px;
    width: 370px;
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.product__item::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -97px;

  width: 200px;
  height: 200px;

  background-color: transparent;
  border-radius: 100px;

  @include tab {
    top: -108px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include pc {
    top: -167px;
    left: 50%;
    transform: translateX(-50%);

    width: 302px;
    height: 300px;

    border-radius: 302px;
  }
}

.product__item--green::before {
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.product__item--yellow::before {
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.product__item--orange::before {
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.product__item::after {
  content: '';
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translateX(-50%);

  width: 200px;
  height: 197px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tab {
    top: -120px;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 197px;
  }

  @include pc {
    top: -183px;
    left: 50%;
    transform: translateX(-50%);

    width: 302px;
    height: 300px;
  }
}

.product__item--green::after {
  background-image: url(../images/products/mobile/productsmobpic1x1-min.png);

  @include retina {
    background-image: url(../images/products/mobile/productsmobpic1x2-min.png);
  }

  @include tab {
    background-image: url(../images/products/tablet/productstabpic1x1-min.png);

    @include retina {
      background-image: url(../images/products/tablet/productstabpic1x2-min.png);
    }
  }
  @include pc {
    background-image: url(../images/products/desktop/productsdescpic1x1-min.png);

    @include retina {
      background-image: url(../images/products/desktop/productsdescpic1x2-min.png);
    }
  }
}
.product__item--yellow::after {
  background-image: url(../images/products/mobile/productsmobpic2x1-min.png);

  @include retina {
    background-image: url(../images/products/mobile/productsmobpic2x2-min.png);
  }

  @include tab {
    background-image: url(../images/products/tablet/productstabpic2x1-min.png);

    @include retina {
      background-image: url(../images/products/tablet/productstabpic2x2-min.png);
    }
  }

  @include pc {
    background-image: url(../images/products/desktop/productsdescpic2x1-min.png);

    @include retina {
      background-image: url(../images/products/desktop/productsdescpic2x2-min.png);
    }
  }
}

.product__item--orange::after {
  background-image: url(../images/products/mobile/productsmobpic3x1-min.png);

  @include retina {
    background-image: url(../images/products/mobile/productsmobpic3x2-min.png);
  }

  @include tab {
    background-image: url(../images/products/tablet/productstabpic3x1-min.png);

    @include retina {
      background-image: url(../images/products/tablet/productstabpic3x2-min.png);
    }
  }

  @include pc {
    background-image: url(../images/products/desktop/productsdescpic3x1-min.png);

    @include retina {
      background-image: url(../images/products/desktop/productsdescpic3x2-min.png);
    }
  }
}

.product__text {
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 100%;
  width: 100%;
  border-radius: 24px;

  @include tab {
    border-radius: 15px;
  }

  @include pc {
    border-radius: 24px;
  }
}

.product__text--green {
  background-color: #aec6a5;
}

.product__text--yellow {
  background-color: #efd478;
}

.product__text--orange {
  background-color: #d6936d;
}

.product__title {
  padding-top: 123px;
  margin-bottom: 40px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: var(--line-height-auto);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;

  color: var(--secondary-text-color);

  @include tab {
    padding-top: 108px;
    font-size: 22px;
  }

  @include pc {
    padding-top: 165px;
    font-size: 30px;
  }
}

.product__description {
  margin-bottom: 45px;
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 1;

  font-size: 14px;
  line-height: 1.76;

  color: var(--secondary-text-color);

  @include tab {
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 42px;
  }

  @include pc {
    font-size: 16px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.product__btn {
  display: block;
  margin: auto;
  padding-bottom: 8px;

  background-color: inherit;
  border: none;

  transform: scaleX(1);
  @include transition(transform);

  @include tab {
    padding-bottom: 4px;
  }

  @include pc {
    padding-bottom: 52px;
  }

  &:hover,
  &:focus {
    transform: scaleX(1.5);
    cursor: pointer;
  }
  border: none;
}
