.product__section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1200px;
  cursor: url(../images/cursor.svg), auto;
  background-image: url(../images/products/mobile/fonproductsx1-min.jpg);

  @include retina {
    background-image: url(../images/products/mobile/fonproductsx2-min.jpg);

  }

  @include tab {
    background-image: url(../images/products/tablet/fon1tabx1-min.jpg);

    @include retina {
      background-image: url(../images/products/tablet/fon1tabx2-min.jpg);
    }
  }

  @include pc {
    background-image: url(../images/products/desktop/fon1descx1-min.jpg);

    @include retina {
      background-image: url(../images/products/desktop/fon1descx2-min.jpg);
    }
  }
}


.section__pretitle {
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @include tab {
    font-size: 22px;
  }
  
  @include pc {
    font-size: 30px;
    line-height: 1.23;
  }
}

.section__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  margin-bottom: 40px;

  @include tab {
    font-size: 34px;
    margin-bottom: 80px;
  }
  
  @include pc {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 120px;
  }
}


.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;

  @include tab {
    gap: 16px;
  }
  
  @include pc {
    gap: 29px;
  }

}

.product__item {
  width: 280px;
  
  @include tab {
    width: 224px;
  }

  @include pc {
    width: 370px;
  }
}

.product__decor {
  display: flex;
  position: relative;
  justify-content: center;
  height: 200px;
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: -100px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

   //  tablet
   @media screen and (min-width: 768px) {
  height: 197px;
   }

   //  desktop
   @media screen and (min-width: 1200px) {
    height: 300px;
    margin-bottom: -117px;
   }
}


.product__decor::after {
  content: '';
  top: 11px;
  left: 40px;
  position: absolute;
  background-color: transparent;
  width: 200px;
  height: 200px;
  border-radius: 100px;

  @include tab {
      left: 12px;
    }
  
  @include pc {
    width: 302px;
    height: 300px;
    border-radius: 302px;
    left: 34px;
  } 
}

.product__decor--green::after {
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.product__decor--yellow::after {
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.product__decor--orange::after {
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.product__picture {
  z-index: 10;
}

.product__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px ;
  font-family: var(--main-font);
  line-height: var(--line-height-auto);
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  padding-top: 123px;
  margin-bottom: 40px;
  text-align: center;

  @include tab {
    padding-top: 108px;
    font-size: 22px;
  }
  
  @include pc {
    padding-top: 165px;
    font-size: 30px;
  }
}

.product__description {
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.76;
  color: var(--secondary-text-color);
  padding-left: 40px;
  padding-right: 40px; 
  
    @include tab {
    padding-left: 26px;
    padding-right: 26px;
    }
  
    @include pc {
    font-size: 16px;
    padding-left: 64px;
    padding-right: 64px;
    }
}

.product__text {
  text-align: center;
  width: 100%;
  border-radius: 24px;

@include tab {
  border-radius: 15,8px;
}

@include pc {
  border-radius: 24px;
}
}

.product__text--green {
  background-color: #AEC6A5;
}

.product__text--yellow {
  background-color: #EFD478;
}

.product__text--orange {
  background-color: #D6936D;
}

.product__btn {
  background-color: inherit;
  border: none;
  display: block;
  margin: auto;
  padding-bottom: 16px;

  @include tab {
  padding-bottom: 12px;
  }

  @include pc {
  padding-bottom: 60px;
  }
}

// .product__link {
//   &:hover {
//       border: 2px solid #131313;
//     }
  
//     &:focus {
//       border: 3px solid #131313;
//     }
// }